<main>

  <div class="container my-3">

    <div class="row">
      <div class="col text-center my-3">
      <h1>We are always here to help <span class="text-primary">you</span></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm my-3">
        <div class="d-flex align-items-center justify-content-center">
            <img src="../../assets/ic-logo-full.png" height="150px">
        </div>
        <div class="text-center my-4">
            <h2>Find treatment to centers and practitioners available in your region. Sign or <span class="text-primary">register</span> to continue.</h2>
        </div>
      </div>

      <div class="col-sm my-3">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
          </form>
          </div>
      </div>

    </div>

</main>
