<main>

  <div class="container my-3">

    <div class="row">
      <div class="col text-center my-3">
      <h1>We are always here to help <span class="text-primary">you</span></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm my-3">
        <div class="d-flex align-items-center justify-content-center">
            <img src="../../assets/ic-logo-full.png" height="150px" alt="Immediate Care">
        </div>
        <div class="text-center my-4">
            <h2>Find treatment to centers and practitioners available in your region. Sign or <span class="text-primary"><a routerLink="/register">register</a></span> to continue.</h2>
        </div>
      </div>

      <div class="col-sm my-3">
        <form>
          <div class="text-center my-2">Sign in with email and password</div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" aria-label="Enter email" #email>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" aria-label="Password" #password (keydown)="onKey($event, email.value, password.value)">
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="login(email.value, password.value)" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
              <span>Sign In</span>
            </button>
          </div>
        </form>
        <div *ngIf="errorMessage">
          <br>
          <alert type="danger">
            {{ errorMessage }}
          </alert>
        </div>

        <div class="text-center my-3">Sign in with social media</div>
        <div class="text-center my-2">
          <button type="button" class="btn btn-primary" (click)="googleLogin()" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
            <span>Sign In with Google</span>
          </button>
        </div>

      </div>
    </div>
  </div>

</main>
