<main>

  <div class="container my-3">

    <div class="row">
      <div class="col-lg"></div>
      <div class="col text-center my-3">
        <div class="card my-3" *ngIf="listing">
          <div class="card-header">
            {{ listing.city }}, {{ listing.state }}
          </div>
          <div class="card-body">
            <h2 class="card-title">{{ listing.name }}</h2>
            <p class="card-text">{{ listing.description }}</p>
            <p class="card-text">{{ listing.address }}</p>
            <p class="card-text">{{ listing.phone }}</p>
            <a href="//{{ listing.website }}" class="btn btn-info">Website</a>
          </div>
          <div class="card-footer">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" #online (change)="onChange(online.checked)" [checked]="listing.online">
              <label class="custom-control-label" for="customSwitch1">{{ listing.online ? 'Online' : 'Offline' }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg"></div>
    </div>

  </div>

</main>
